In [1]:
import pandas as pd

In [2]:
review_21 = pd.read_csv('../data/Daily-Review-2021.csv', index_col=['Day'], parse_dates=['Day'])
review_23 = pd.read_csv('../data/Daily-Review - 2022-23.csv', index_col=['Date'], parse_dates=['Date'])

In [5]:
review_21.columns

Index(['Weekday', 'ðŸŒ¼ Good Habit Tracking', 'Effectiveness',
       'ðŸ“› Bad Habit Tracking', 'Productivity', 'Morning Exercise',
       'Evaluation After Each Task', 'Meditation', 'Reading', 'Code Practice',
       'Night Exercise', 'Night Reflection', 'Personal Project',
       'Wake Up Time', 'Sleep Time', 'Nap Hours', 'Total Sleep Hours',
       'Browsing Social Media Times', 'Eating Quality (1 - poor, 5 - good)',
       'ðŸ’° Money Spend', 'Good parts - achievement', 'Week', 'Date',
       'Good Habit Tracking Calculation', 'Assumptions To Chellenge',
       'Finished Todos (Fixed Number)', 'Habit', 'Today Todos',
       'Bad parts - to Improve', 'Total Todos', 'Weight', 'Effectiveness Ref',
       'Finished Todos Rollup (Changes over time)', 'Sleep Quality'],
      dtype='object')

In [6]:
review_23.columns

Index(['Finished Todos (Actual)', 'Total Todos', 'Day Quality',
       'Long Nap Hours', 'Did Not Exercise', 'Day Quality - Sleep Very Late',
       'Day Quality - Sleep Late', 'Day Quality - Wake Up Very Late',
       'Day Quality - Wake Up Late', 'Productivity', 'Productivity - Num',
       'Weekday', 'Night Sleep Hours', 'Sleep Hours', 'Mood', 'Effectiveness',
       'Exercised', 'Nap Hours', 'Sleep At', 'Things Learned', 'Wake At',
       'Weight', 'Bad Decisions', 'Disappointments', 'Good Decisions',
       'Sleep Quality', '[OLD] Bad Decisions Summary', 'Bad Decisions Made',
       'Calories Intake', 'Check-Ins', 'Food', 'Mindset Sculpting',
       'Money Spend', 'Process & Archievements', 'Summary'],
      dtype='object')

In [16]:
sleep_21 = review_21['Total Sleep Hours']
nap_21 = review_21['Nap Hours']

night_sleep_21 =  sleep_21 - nap_21
night_sleep_23 = review_23[['Night Sleep Hours']].rename(columns={'Night Sleep Hours':'night_sleep_hours'})

In [17]:
night_sleep_21 = pd.DataFrame(night_sleep_21).rename(columns={0:'night_sleep_hours'})

In [18]:
night_sleep_hours = pd.concat([night_sleep_21, night_sleep_23])

In [23]:
sleep = pd.read_csv('../data/sleep.csv', index_col='date', parse_dates=['date'])

In [24]:
sleep

            total_sleep_hours
date
2021-02-20               8.25
2021-02-21               8.00
2021-02-22               5.75
2021-02-23               6.10
2021-02-24               6.50
...                       ...
2023-05-29               4.00
2023-05-30               6.49
2023-05-31               5.24
2023-06-01               8.49
2023-06-02               3.99

[833 rows x 1 columns]

In [29]:
night_sleep_hours

            night_sleep_hours
date
2021-10-02               0.00
2021-10-01               0.00
2021-09-30               6.00
2021-09-29               4.50
2021-09-28               5.50
...                       ...
2021-10-05               5.50
2021-10-04               3.50
2021-10-03               6.00
2021-10-02               5.25
2021-10-01               4.50

[830 rows x 1 columns]

In [34]:
sleep = sleep.merge(night_sleep_hours, left_index=True, right_index=True, how='outer')[3:]

In [36]:
sleep['nap_hours'] = sleep['total_sleep_hours'] - sleep['night_sleep_hours']

In [39]:
sleep.to_csv('../data/sleep.csv')